// colors

$colorBgBlackHeadline: #383737;
$colorBgBlackHeadlineRgba: rgba(56, 55, 55, .9);
$colorBgBlackHeadlineRgba2: rgba(56, 55, 55, .6);
$colorGrayDiscription: #A2A2A2;
$colorGrayFormText: #868686;
$colorGrayline: #D9D9D9;
$colorGrayLight: #CBCBCB;
$colorYellow: #F9D423;
$colorGray: #7F8C8D;
$colorRedDark: #F85F40;
$colorTorq: #1ABC9C;
$colorYellowDark: #F1C40F;
$colorBlue: #0FAFF1;
$colorGgBlackFooter: #2A2A2A;
$colorLinkFooter: #686868;
$colorLineBorderBuy: #D9D9D9;
$colorWhiteRgba: rgba(255, 255, 255, .8);
$colorGreen: #00A300;

// size

$view-port: 1220px;
$heightNav: 90px;


