@import "partials/params";
@import "partials/mixins";
@import "partials/media";

$widhtLeftRightBottomBlock: 270px;
$fontSizeBottom: 15px;
@mixin iconBlockFooter {
    background-position: 0 center;
    background-repeat: no-repeat;
    padding: 8px 0 8px 21px;
}

.footer {
    width: 100%;
    min-height: 100px;
    background-color: $colorGgBlackFooter;
    font-family: 'Sarabun', sans-serif;
    &__wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    &__mainNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $heightNav;
        border-bottom: 1px solid $colorLinkFooter;
        @include mobile {
            display: none;
        }
        &__logo {
            width: 132px;
            height: $heightNav;
            background-image: url('../img/logo-footer.png');
            background-position: center center;
            background-size: 132px 29px;
            background-repeat: no-repeat;
        }
        &__nav {
                li {
                    a {
                        margin-left: 50px;
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: bold;
                        color: $colorLinkFooter;
                        &:hover {
                            color: #ffffff;
                        }
                    }
                }
            
        }
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        @include mobile {
            flex-direction: column;
        }
    }
    &__block {
        color: $colorLinkFooter;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: $fontSizeBottom;
        &-1 {
            width: 340px;
            border-right: 1px solid $colorLinkFooter;
            @include mobile {
                width: 100%;
            }
        }
        &-3 {
            width: 340px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            flex-direction: column;
            border-left: 1px solid $colorLinkFooter;
            @include mobile {
                width: 100%;
                align-items: center;
            }
            &-wrap {
                width: $widhtLeftRightBottomBlock;
            }
        }
        &__text {
            line-height: 22px;
            width: $widhtLeftRightBottomBlock;
            @include mobile {
                margin-left: 20px;
            }
        }
        &__nav {
            display: flex;
            flex-wrap: wrap;
            width: 300px;
            @include mobile {
                width: 100%;
                flex-direction: column;
            }
            li {
                width: 150px;
                padding: 7px 0;
                @include mobile {
                    padding: 15px 0 15px 20px;
                }
                &:nth-child(even) {
                    a {
                        position: relative;
                        left: 55px;
                        @include mobile {
                            left: 0;
                        }
                    }
                }
                a {
                    padding-left: 13px;
                    color: $colorLinkFooter;
                    text-transform: capitalize;
                    font-size: $fontSizeBottom;
                    background-image: url('../img/icon-arow.png');
                    background-size: 5px 8px;
                    background-position: 0 center;
                    background-repeat: no-repeat;
                    &:hover {
                        color: #ffffff;
                    }
                    
                }
            }
        }
        &__tel {
            background-image: url('../img/icon-tel.png');
            background-size: 12px 12px;
            @include iconBlockFooter;
        }
        &__email {
            background-image: url('../img/icon-mail.png');
            background-size: 13px 11px;
            @include iconBlockFooter;
        }
        &__adres {
            @include iconBlockFooter;
        }
    }
}