@import "partials/params";
@import "partials/mixins";
@import "partials/media";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html, body {
    @include clear;
    font-family: 'PT Sans', sans-serif;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, ul, li, nav {
    @include clear;
    font-weight: normal;
}

li {
    list-style: none;
    display: block;
}

a {
    text-decoration: none;
}

input, button {
    outline: none;
}

.view-port {
    margin: 0 auto ;
    max-width: $view-port;
}

.wrapper {
    @include clear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    overflow: hidden;

}

.activeViewBlock {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
}

.modalWindow {
    position: fixed;
    z-index: 500;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, .7);
    top: 0;
    left: 0;
    &__block {
        min-width: 350px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px #000000;
        position: relative;
        @include mobile {
            width: 100%;
            height: 100%;
            border-radius: 0px;
        }
    }
    &__title {
        color: #444444;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        padding: 15px 0;
        text-transform: uppercase;
    }
    &__content {
        width: 95%;
        margin: 0 auto;
    }
    &__close {
        width: 30px;
        height: 30px;
        background: url('../img/closed.png'), $colorBgBlackHeadline;
        background-position: center center;
        background-size: 20px;
        background-repeat: no-repeat;
        border-bottom-left-radius: 5px;
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
    }
}