@import "partials/params";
@import "partials/mixins";
@import "partials/media";
.hideLoginForm {
    &__inputWrap {
        width: 70%;
        box-sizing: border-box;
        border: 1px solid $colorGrayFormText;
        margin: 0 auto 15px;
        position: relative;
        input[type=text], input[type=password] {
            width: 96%;
            border: none;
            font-size: 16px;
            color: $colorBgBlackHeadline;
            padding: 0;
            margin: 0;
        }
        label[for=rememberUser] {
            background-color: #ffffff;
            z-index: 10;
            cursor: pointer;
            box-sizing: border-box;
            border: 1px solid $colorGrayFormText;
            border-radius: 5px;
            img {
                width: 20px;
                height: 20px;
                position: relative;
                top: -5px;
                left: 2px;
                display: none;
            }
        }
        .textRemeber {
            padding: 0 0 0 10px;
            color: colorBgBlackHeadline;
            font-size: 16px;
            margin-left: 15px;
        }
        #rememberUser {
            z-index: 1;
        }
        
    }
    &__blockInfoError {
        position: absolute;
        box-sizing: border-box;
        color: #ffffff;
        background-color: #ffffff;
        z-index: 50;
        left: 100%;
        top: -1px;
        width: 150px;
        background-color: $colorBgBlackHeadline;
        padding: 0;
        margin: 0;
        display: none; 
            p {
                font-size: 16px;
                padding: 9px 12px;
                letter-spacing: 1px;
            }
    }
    &__rememberUser {
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
    }
    &__padding {
        padding: 8px 12px;
    }
    &__notPadding {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        border: none;
        input {
            width: auto;
        }
    }
    &__button {
        border: none;
        border-radius: 5px;
        background-color: $colorBgBlackHeadline;
        cursor: pointer;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 18px;
        padding: 7px 14px;
        transition: all 0.1s;
        margin-top: 20px;
        letter-spacing: 1px;
        &:hover {
            opacity: .9;
        }
    }
    &__eyeStatusFalse {
        background-image: url('../img/eye-false.png');
    }
    &__eyeStatusTrue {
        background-image: url('../img/eye-true.png');
    }

}
#hideLoginForm__eyeStatus {
        width: 25px;
        height: 25px;
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 3px;
        top: 6px;
        cursor: pointer;
        transition: all .1s;
        &:hover {
            opacity: .9;
        }
}