@import "partials/params";
@import "partials/mixins";
@import "partials/media";

.hideLoginForm {
    &__inputWrap {
        width: 70%;
        box-sizing: border-box;
        border: 1px solid $colorGrayFormText;
        border-radius: 5px;
        margin: 0 auto 15px;
        position: relative;
        input {
            width: 96%;
            border: none;
            font-size: 16px;
            color: $colorGrayFormText;
            padding: 0;
            margin: 0;
        }
        .textRemeber {
            padding: 0 0 0 10px;
            color: colorBgBlackHeadline;
            font-size: 16px;
        }
    }
    &__padding {
        padding: 8px 12px;
        
    }
    &__notPadding {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
        border: none;
        input {
            width: auto;
        }
    }
    &__button {
        border: none;
        border-radius: 5px;
        background-color: $colorBgBlackHeadline;
        cursor: pointer;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 18px;
        padding: 7px 14px;
        transition: all 0.1s;
        &:hover {
            opacity: .9;
        }
    }
    &__eyeStatus {
        width: 33px;
        height: 33px;
        background-color: #ffffff;
        background-image: url('../img/eye-false.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: absolute;
        right: 2px;
        top: 1px;
        cursor: pointer;
        transition: all .1s;
        &:hover {
            opacity: .9;
        }
    }
}