@import "partials/params";
@import "partials/mixins";
@import "partials/media";

.headerNav {
    background-color: $colorBgBlackHeadlineRgba;
    width: 100%;
    position: absolute;
    nav {
        display: flex;
        justify-content: space-between;
        height: $heightNav;
        align-items: center;
        padding: 0 20px;
        @include mobile {
            
        }
        .logo {
            div {
                width: 133px;
                height: 29px;
                background-image: url('../img/logo-header.png');
                background-position: 0 0;
                background-size: 100% 100%;
            }
        }
        ul {
            display: flex;
            @include mobile {
                flex-direction: column;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: $colorBgBlackHeadline;
                padding: 10px 0;
                display: none;
            }
            li {
                display: flex;
                align-items: center;
                margin-left: 58px;
                @include mobile {
                    margin: 25px 30px;
                }
                
                a {
                    color: #ffffff;
                    height: $heightNav;
                    @include mobile {
                        height: auto;
                    }
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    border-bottom: 1px solid $colorBgBlackHeadlineRgba;
                    transition: all 0.2s;
                    &:hover {
                        border-bottom: 1px solid #ffffff;
                    }
                }
            }
        }
        #nav__menu_mob {
            width: 30px;
            height: 30px;
            background-image: url('../img/icon-menu.png');
            cursor: pointer;
            position: absolute;
            z-index: 100;
            right: 30px;
            display: none;
            @include mobile {
                display: block;
            }
        }
    }
}
.bgHead {
    background-color: #565454;
    background-image: url('../img/bg-header.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-blend-mode: multiply;
    h1 {
        color: #ffffff;
        font-weight: bold;
        font-size: 72px;
        text-align: center;
        padding-top: 30vh;
        letter-spacing: 5px;
        @include table {
            font-size: 52px;
        }
    }
    h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #ffffff;
        font-size: 32px;
        font-style: italic;
        text-align: center;
        @include table {
            font-size: 22px;
        }
    }
}

.headerFooter {
    @include flex-center;
    width: 100%;
    height: $heightNav;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $colorBgBlackHeadlineRgba;
    @include mobile {
        flex-direction: column;
    }
    p {
        color: #fff;
        font-weight: bold;
        letter-spacing: 1.5px;
        &:hover {
            opacity: .8;
        }
    }
    div {
        width: 50%;
        height: $heightNav;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.1s;
        cursor: pointer;
        &:hover {
            background-color: $colorGgBlackFooter;
        }
    }
    div:first-child {
        //margin-right: 330px;
        @include mobile {
            margin: 0 0 10px 0;
        }
    }
}

