@import "partials/params";
@import "partials/mixins";
@import "partials/media";

.slide {
    width: 100%;
    height: 190px;
    background-image: url('../img/bg-comment.jpg');
    margin-bottom: 95px;
    display: flex;
    align-items: center;
    align-self: center;
    position: relative;
    &__wraper {
        display: flex;
        width: 700px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 50px;
        font-weight: bold;
    }
    &__text {
        text-align: center;
        font-size: 17px;
        color: #ffffff;
        line-height: 22px;
        position: relative;
        top: -10px;
        p {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
    &__nameText {
        color: #ffffff;
        margin-top: 15px;
        text-align: center;
        p {
            display: none;
            &:first-child {
                display: block;
            }
        }
    }
    &__footer {
        width: 100%;
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
    }
    &__nav {
        display: flex;
        div {
            width: 8px;
            height: 8px;
            border-radius: 50%;
            border: 2px solid #ffffff;
            margin: 18px 10px 0 10px;
            cursor: pointer;
        }
    }
    &__thisButtom {
        background-color: #ffffff;
    }
}